<h1>Welcome!!!</h1>
<h3><%= current_user.full_name  if current_user %></h3>
<p><%= link_to 'sign-out', destroy_user_session_path,method: :delete %></p>
<p><%= link_to 'edit your profile', edit_user_registration_path(current_user) %></p>
<p><%= link_to 'Create New Post', new_post_path %></p>
<p><%= link_to 'Show all fRiends',my_friends_path %></p>
