<h1>This page shows all posts of Current User</h1>
<% if @posts %>
	<% @posts.each do |p| %>
   	<p><%= p.description %>
   			<% if can? :update,p %>
    			<%=link_to 'Edit Post',edit_post_path(p) %>
   			<% end %>
   			<% if can? :destroy,p %>  
    			<%= link_to 'Delete',post_path(p),method: :delete,data: {confirm: "are you sure"} %>
    		<% end %>
    		<%= link_to 'Show',post_path(p) %>
  	</p>
	<% end %>
<% end %>
----Friends Post------
<% if @friends %>
	<% @friends.each do |current_friend| %>
		<% @posts=current_friend.posts %>
		<% if @posts %>
				<% @posts.each do |curr_post| %>
					<p>User:<%= curr_post.user.full_name %> Description:<%= curr_post.description %> <%= link_to 'Show',post_path(curr_post)%></p>
				<% end %>
		<% end %>
	<% end %>
<% end %>



