<h1>Timeline!!! </h1>
<% if @posts %>
	<% @posts.each do |p| %>
   	<p>Created_by: <%=p.user.full_name %> Content:<%= p.description %>
   			<% if can? :upd,p %>
    			<%=link_to 'Edit Post',edit_post_path(p) %>
   			<% end %>
   			<% if can? :destroy,p %>  
    			<%= link_to 'Delete',post_path(p),method: :delete,data: {confirm: "are you sure"} %>
    		<% end %>
    		<%= link_to 'Show',post_path(p) %>
  	</p>
	<% end %>
<% end %>
<br>



